body {
  background: #121212;
  color: #fff;
  font-family: sans-serif;
}

.radioBtns {
  display: inline-flex;
  overflow: hidden;
  background-color: #212121;
  border-radius: 10px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.7);
}

.unitInput {
  display: none;
}

.unitLabel {
  padding: 8px 14px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.unitLabel:not(:last-of-type) {
  border-right: 4px solid #121212;
}

.unitInput:checked + .unitLabel {
  background: #3d3d3d;
}
