body {
    background: #181818;
    color: #fff;
    font-family: sans-serif;
}

.radioBtns {
    display: inline-flex;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 10px;
}

.unitInput {
    display: none;
}

.unitLabel {
    padding: 8px 14px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.unitLabel:not(:last-of-type) {
    border-right: 1px solid #fff
}

.unitInput:checked + .unitLabel {
    background: #3d3d3d;
}